* {
  padding: 0;
  margin: 0;
  box-sizing: 0; }

.containerGridGaleria {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas: "himg1 himg2 himg3" "vimg1 vimg2 vimg3" "himg4 himg5 himg6" "vimg4 vimg5 vimg6" "himg7 himg8 himg9" "vimg7 vimg8 vimg9";
  gap: 0.5em; }
  .containerGridGaleria .img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .containerGridGaleria .img:hover {
      cursor: pointer; }
  .containerGridGaleria .horizontalImg1 {
    grid-area: himg1; }
  .containerGridGaleria .horizontalImg2 {
    grid-area: himg2; }
  .containerGridGaleria .horizontalImg3 {
    grid-area: himg3; }
  .containerGridGaleria .horizontalImg4 {
    grid-area: himg4; }
  .containerGridGaleria .horizontalImg5 {
    grid-area: himg5; }
  .containerGridGaleria .horizontalImg6 {
    grid-area: himg6; }
  .containerGridGaleria .horizontalImg7 {
    grid-area: himg7; }
  .containerGridGaleria .img1 {
    grid-area: vimg1; }
  .containerGridGaleria .img2 {
    grid-area: vimg2; }
  .containerGridGaleria .img3 {
    grid-area: vimg3; }
  .containerGridGaleria .img4 {
    grid-area: vimg4; }
  .containerGridGaleria .img5 {
    grid-area: vimg5; }
  .containerGridGaleria .containerFullImg {
    position: fixed;
    height: 100%;
    justify-self: center;
    width: 94%;
    background: rgba(20, 20, 20, 0.55);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transform: translateX(-120%); }
    .containerGridGaleria .containerFullImg .mostrarImg {
      height: 1em;
      height: 85%;
      display: block; }
    .containerGridGaleria .containerFullImg .descripcion {
      color: white;
      bottom: 2em;
      padding-top: 1em;
      letter-spacing: 2px;
      font-size: 1.5em; }
    .containerGridGaleria .containerFullImg .bx.bx-x {
      position: absolute;
      color: white;
      top: 1em;
      right: 1em;
      font-size: 2em;
      cursor: pointer; }
  .containerGridGaleria .desplazar {
    transform: translateX(0%); }
